$primary-color: aliceblue;
$secondary-color: #222222;
$primary-background: #000000;
$primary-border: 1px solid #b8b8b8;
$primary-border-radius: 12px;
$fz-title: 20px;
$fz-title-form: 18px;
$fw-title: 500;